SUPABASE_URL=https://kxiqvbfizgffcflkveuy.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_publishable_GRD-b0TgMe7f23GBOfiWHw_STHiLmUR
RESEND_API_KEY=re_ZNqhKUgB_7TXUFBzdD2cMBG8WaYDkfrdV
RESEND_FROM_EMAIL=orders@akshitvps.me
